%h2= t(:profile)
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f|
  = f.error_notification
  .form-inputs
    - if current_user.demo_user?
      = f.input :email, required: false, autofocus: false, :input_html => { readonly: :true, :value => 'demo@homebugh.info' }
      = f.input :password, autocomplete: "off", hint: t("devise.registrations.demo_user_account_defaults"), required: false, :input_html => { readonly: :true, :value => 'demo1234' }
    - else
      = f.input :email, required: true, autofocus: true
      = f.input :password, autocomplete: "off", hint: t("devise.registrations.leave_it_blank_if_dont_want_to_change"), required: false
      = f.input :password_confirmation, required: false
      = f.input :current_password, hint: t("devise.registrations.need_current_password_to_confirm"), required: true
      .form-actions
        = f.button :submit, t(:update), class: "btn btn-primary"

