= render 'shared/sub_navbar_widget',
  title_content: t('parts.budgets.index'),
  add_link_title: t('parts.budgets.new'),
  add_link_url: new_budget_path

.row
  .col-xs-12.col-lg-12
    - date = Date.parse("#{params[:year]}-#{params[:month]}-1") rescue Date.current
    = link_to t("parts.budgets.current_month"), url_for, class: "btn btn-default", disabled: params[:month].blank?
    = link_to t("parts.budgets.last_month"), url_for(month: 1.month.ago.month, year: 1.month.ago.year), class: "btn btn-default", disabled: params[:month].present?
.spacer

.row
  - if @budgets.present?
    .col-xs-12.col-lg-12
      .table-responsive
        %table.table
          %tbody
            - @budgets.each do |budget|
              %tr{class: "bg-#{budget.decorate.expenses_color_class(date: date)}"}
                %td= link_to budget.category.name, transactions_path(category: budget.category_id)
                %td
                  .pull-right
                    %span{class: "text-#{budget.decorate.expenses_color_class(date: date)}"}
                      = budget.decorate.current_expenses(date: date)
                %td
                  .pull-right
                    = link_to edit_budget_path(budget), title: t('common.edit'), class: "btn btn-mini btn-default btn-xs", id: dom_id(budget, :edit) do
                      %span.glyphicon.glyphicon-pencil
                    = link_to budget, data: { confirm: t('common.are_you_sure') }, method: :delete, title: t('common.destroy'), class: "btn btn-danger btn-mini btn-xs" do
                      %span.glyphicon.glyphicon-trash
  - else
    .col-xs-6.col-xs-offset-3
      %div
        = t('parts.budgets.no_budgets_yet')
      %div
        = link_to t('parts.budgets.start_budget_planning'), new_budget_path, class: 'btn btn-success btn-lg'
      %div
        = t('parts.budgets.no_budgets_yet_desc')
