- if @budgets.present?
  = render 'shared/sub_navbar_widget',
    title_content: t('parts.budgets.index'),
    add_link_title: t('parts.budgets.new'),
    add_link_url: new_budget_path
  
  .row
    .col-xs-12.col-lg-12
      - date = Date.parse("#{params[:year]}-#{params[:month]}-1") rescue Date.current
      = link_to t("parts.budgets.current_month"), url_for, class: "btn btn-default", disabled: params[:month].blank?
      = link_to t("parts.budgets.last_month"), url_for(month: 1.month.ago.month, year: 1.month.ago.year), class: "btn btn-default", disabled: params[:month].present?
  .spacer

  .row
    .col-xs-12.col-lg-12
      .table-responsive
        %table.table
          %tbody
            - @budgets.each do |budget|
              %tr{class: "bg-#{budget.decorate.expenses_color_class(date: date)}"}
                %td= link_to budget.category.name, transactions_path(category: budget.category_id)
                %td
                  .pull-right
                    %span{class: "text-#{budget.decorate.expenses_color_class(date: date)}"}
                      = budget.decorate.current_expenses(date: date)
                %td.actions
                  = link_to edit_budget_path(budget), title: t('common.edit'), class: "btn btn-mini btn-default btn-xs", id: dom_id(budget, :edit), data: { toggle: 'tooltip' } do
                    = fa_icon "edit"
                  = link_to budget, data: { confirm: t('common.are_you_sure'), toggle: 'tooltip' }, method: :delete, title: t('common.destroy'), class: "btn btn-danger btn-mini btn-xs" do
                    = fa_icon "trash"
- else
  .row
    .col-xs-12
      .budget-empty-state
        .empty-state-icon
          = fa_icon "bar-chart", class: "fa-5x"
        .empty-state-title
          %h3= t('parts.budgets.no_budgets_yet')
        .empty-state-description
          %p= t('parts.budgets.empty_state.description_1')
          %p= t('parts.budgets.empty_state.description_2')
        .empty-state-examples
          %h4= t('parts.budgets.empty_state.examples_title')
          %ul
            %li
              %strong= t('parts.budgets.empty_state.examples.food')
              %span.text-muted= t('parts.budgets.empty_state.examples.food_desc')
            %li
              %strong= t('parts.budgets.empty_state.examples.transport')
              %span.text-muted= t('parts.budgets.empty_state.examples.transport_desc')
            %li
              %strong= t('parts.budgets.empty_state.examples.entertainment')
              %span.text-muted= t('parts.budgets.empty_state.examples.entertainment_desc')
            %li
              %strong= t('parts.budgets.empty_state.examples.shopping')
              %span.text-muted= t('parts.budgets.empty_state.examples.shopping_desc')
            %li
              %strong= t('parts.budgets.empty_state.examples.bills')
              %span.text-muted= t('parts.budgets.empty_state.examples.bills_desc')
        .empty-state-action
          = link_to t('parts.budgets.start_budget_planning'), new_budget_path, class: 'btn btn-success btn-lg'
