= simple_form_for cash_flow, html: { class: "form-horizontal" } do |f|
  = f.association :from_account, collection: current_user.accounts
  = f.association :to_account, collection: current_user.accounts
  = f.input :amount
  .form-actions
    = f.button :submit, t("parts.cash_flows.submit"), class: "btn btn-primary", id: :cash_flow_submit
    = link_to t("common.back"), cash_flows_path, class: "btn"
