= form_for(@cash_flow) do |f|
  - if @cash_flow.errors.any?
    #error_explanation
      %h2
        = t('activerecord.errors.template.header', :count => @cash_flow.errors.count)
        \:
      %ul
        - @cash_flow.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :from_account_id
    %br/
    = f.collection_select :from_account_id, @accounts, :id, :name
  .field
    = f.label :to_account_id
    %br/
    = f.collection_select :to_account_id, @accounts, :id, :name
  .field
    = f.label :amount
    %br/
    = f.text_field :amount
  .actions
    = f.submit t( 'parts.cash_flows.submit' ), :class => 'button orange tall', :id => :cash_flow_submit
