<h1><%= t( 'parts.cash_flows.flows_list' ) %></h1>

<div id=child_navigation>
    <%= link_to t( 'parts.cash_flows.new_cash_flows' ), new_cash_flow_path, :class => 'button orange' %>
</div>

<table class="list-table">
    <thead>
    <tr>
        <th class=medium><%= t('common.date') %></th>
        <th><%= t('parts.cash_flows.from') %> → <%= t('parts.cash_flows.to') %></th>
        <th class=numbers><%= t('parts.cash_flows.amount') %></th>
        <th class=small></th>
    </tr>
    </thead>
    <tbody>
    <% @cash_flows.each do |cash_flow| %>
        <tr>
            <td class=medium><%= I18n.l(cash_flow.created_at.to_date, :format => :long) %></td>
            <td><%= cash_flow.from_account.name %> → <%= cash_flow.to_account.name %></td>
            <td class=numbers><%= get_number_to_currency(cash_flow.amount) %></td>
            <td class=small>
                <%= link_to edit_cash_flow_path(cash_flow), :title => t('common.edit') do %>
                    <%= image_tag 'icons/edit.png', :alt => t('common.edit') %><%end%>
                <%= link_to cash_flow, :confirm => t('common.are_you_sure'), :method => :delete, :title => t('common.destroy') do %>
                    <%= image_tag 'icons/delete.png', :alt => t('common.destroy') %><%end%>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

<br />

