%h1= t( 'parts.cash_flows.flows_list' )
#child_navigation
  = link_to t( 'parts.cash_flows.new_cash_flows' ), new_cash_flow_path, :class => 'button orange'
%table.list-table
  %thead
    %tr
      %th.medium= t('common.date')
      %th
        = t('parts.cash_flows.from')
        → #{t('parts.cash_flows.to')}
      %th.numbers= t('parts.cash_flows.amount')
      %th.small
  %tbody
    - @cash_flows.each do |cash_flow|
      %tr
        %td.medium= I18n.l(cash_flow.created_at.to_date, :format => :long)
        %td
          = cash_flow.from_account.name
          → #{cash_flow.to_account.name}
        %td.numbers= get_number_to_currency(cash_flow.amount)
        %td.small
          = link_to edit_cash_flow_path(cash_flow), :title => t('common.edit') do
            = image_tag 'icons/edit.png', :alt => t('common.edit')
          = link_to cash_flow, :data => { :confirm => t('common.are_you_sure') }, :method => :delete, :title => t('common.destroy') do
            = image_tag 'icons/delete.png', :alt => t('common.destroy')
%br/
