.statistics-charts
  .row
    .col-md-6
      %fieldset
        %legend= title
        %div
          = chartjs_pie_chart({ t("parts.categories.income") => total_income, t("parts.categories.spending") => total_spending }, { height: 250 })
    .col-md-6
      %fieldset
        %legend= t("parts.categories.income")
        %div
          = chartjs_pie_chart income_chart_data, { height: 250 }
  .row
    .col-md-12
      %fieldset
        %legend= t("parts.categories.spending")
        %div
          - stacked_data = { title => spending_chart_data }
          = chartjs_stacked_bar_chart stacked_data, { height: 120 }
