- statistics.each do |stats|
  %fieldset.statistics
    %legend= stats[:title]
    %table.table.table-condensed
      - stats[:income_categories].each do |category|
        - percent = percent_of category[:sum], stats[:income]
        %tr
          %td.span3= category[:name]
          %td
            .progressbar
              .active-income{:style => "width: #{percent}%;"}
          %td.span2.number= "#{percent}%"
          %td.span2.number= get_number_to_currency category[:sum]
      %tr.total
        %td{:colspan => "3"}= t("parts.statistics.income_total")
        %td.span2.number= get_number_to_currency stats[:income]
      - stats[:spending_categories].each do |category|
        - percent = percent_of category[:sum], stats[:spending]
        %tr
          %td.span3= category[:name]
          %td
            .progressbar
              .active-spending{:style => "width: #{percent}%;"}
          %td.span2.number= "#{percent}%"
          %td.span2.number= get_number_to_currency category[:sum]
      %tr.total
        %td{:colspan => "3"}= t("parts.statistics.spending_total")
        %td.span2.number= get_number_to_currency stats[:spending]
