.row
  .col-xs-12
    %h2
      = title t('parts.users.delete')
    .alert.alert-danger
      = t('parts.users.delete_warning')
.row
  .col-xs-12
    = simple_form_for current_user, html: { class: "form-horizontal" }, url: users_destroy_url, method: :delete do |f|
      = f.input :password
      .col-lg-offset-2.col-lg-10
        = f.button :submit, t('parts.users.delete'), class: "btn btn-danger"
        = link_to t("common.back"), root_path, class: "btn"


.clearfix.spacer
