.row
  .col-12
    = form_title t('parts.users.delete')
    = simple_form_for current_user, url: users_destroy_url, method: :delete do |f|
      .form-group
        .col-lg-10.offset-lg-2
          .alert.alert-danger
            = fa_icon 'exclamation-triangle'
            = t('parts.users.delete_warning')

      = f.input :password

      .form-group.action-buttons
        .col-lg-10.offset-lg-2
          = f.button :submit, t('parts.users.delete'), class: "btn btn-danger"
          = link_to t("common.back"), root_path, class: "btn"

.clearfix.spacer
