%div.dashboard-topbar
  %div.topbar-left
    %button.sidebar-toggle{type: "button"}
      %i.fa.fa-bars
    = link_to "HomeBugh", root_path, class: "brand-name"

  %div.topbar-right
    .d-flex.align-items-center
      = link_to url_for(locale: inverse_locale), class: "topbar-link me-3" do
        = image_tag("flags/#{inverse_locale}.png", class: "flag-icon")
        = t("locales.#{inverse_locale}")
      = link_to t("main_menu.profile"), users_profile_path, class: "topbar-link me-3"
      = link_to t("parts.auth.sign_out"), destroy_user_session_path, method: :delete, class: "topbar-link"
