%nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  .container
    %a.navbar-brand{href: root_path} HomeBugh
    %button.navbar-toggler{"data-bs-target" => "#navbarMain", "data-bs-toggle" => "collapse", type: "button", "aria-controls" => "navbarMain", "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
      %span.navbar-toggler-icon
    #navbarMain.collapse.navbar-collapse
      - if user_signed_in?
        %ul.navbar-nav.me-auto
          %li.nav-item
            = link_to t("main_menu.transactions"), transactions_path, class: "nav-link #{'active' if controller_name == 'transactions'}"
          %li.nav-item
            = link_to t("main_menu.categories"), categories_path, class: "nav-link #{'active' if controller_name == 'categories'}"
          %li.nav-item
            = link_to t("main_menu.accounts"), accounts_path, class: "nav-link #{'active' if controller_name == 'accounts'}"
          %li.nav-item
            = link_to t("main_menu.cash_flows"), cash_flows_path, class: "nav-link #{'active' if controller_name == 'cash_flows'}"
          %li.nav-item
            = link_to t("main_menu.statistics"), statistics_path, class: "nav-link #{'active' if controller_name == 'statistics'}"
          %li.nav-item
            = link_to t("main_menu.recurring_payments"), recurring_payments_path, class: "nav-link #{'active' if controller_name == 'recurring_payments'}"
          %li.nav-item
            = link_to t("main_menu.budgets"), budgets_path, class: "nav-link #{'active' if controller_name == 'budgets'}"
          %li.nav-item
            = link_to t("main_menu.profile"), users_profile_path, class: "nav-link #{'active' if controller_name == 'users'}"
        %ul.navbar-nav.ms-auto
          %li.nav-item
            = link_to image_tag("flags/#{inverse_locale}.png"), url_for(locale: inverse_locale), class: "nav-link"
          %li.nav-item
            = link_to t("parts.auth.sign_out"), destroy_user_session_path, method: :delete, class: "nav-link"
      - else
        %ul.navbar-nav.ms-auto
          %li.nav-item
            = link_to image_tag("flags/#{inverse_locale}.png"), url_for(locale: inverse_locale), class: "nav-link"
          %li.nav-item
            = link_to t("parts.auth.sign_in"), new_user_session_path, class: "nav-link"
          %li.nav-item
            = link_to t("parts.auth.sign_up"), new_user_registration_path, class: "nav-link"
