.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %a.btn.btn-navbar{data: {toggle: "collapse", target: ".nav-collapse"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "HomeBugh", root_path, class: "brand"
      .container.nav-collapse
        - if user_signed_in?
          %ul.nav
            %li{class: ("active" if current_page?(transactions_path))}= link_to t("main_menu.transactions"), transactions_path
            %li{class: ("active" if current_page?(categories_path))}= link_to t("main_menu.categories"), categories_path
            %li{class: ("active" if current_page?(accounts_path))}= link_to t("main_menu.accounts"), accounts_path
            %li{class: ("active" if current_page?(cash_flows_path))}= link_to t("main_menu.cash_flows"), cash_flows_path
            %li{class: ("active" if current_page?(statistics_path))}= link_to t("main_menu.statistics"), statistics_path
          %ul.nav.pull-right
            %li= link_to t("parts.auth.sign_out"), destroy_user_session_path
            %li.divider-vertical
            %li= link_to image_tag("flags/#{inverse_locale}.png"), url_for(locale: inverse_locale)
        - else
          %ul.nav.pull-right
            %li= link_to t("parts.auth.sign_in"), new_user_session_path
            %li= link_to t("parts.auth.sign_up"), new_user_registration_path
            %li.divider-vertical
            %li= link_to image_tag("flags/#{inverse_locale}.png"), url_for(locale: inverse_locale)

