%a{:name => "about"}
.intro-header
  .container
    = render 'shared/flash_messages'
    .row
      .col-lg-12
        .intro-message
          %h1 HomeBugh
          %h3= t("welcome_page.slogan")
          %hr.intro-divider/
          %ul.list-inline.intro-social-buttons
            %li
              = link_to new_user_registration_path, class: "btn btn-default btn-lg" do
                %span.network-name= t("welcome_page.create_account_button")
            %li
              %h5= t("welcome_page.or")
            %li
              = link_to new_user_session_path, class: "btn btn-default btn-lg" do
                %span.network-name= t("welcome_page.sign_in_button")
  / /.container
/ /.intro-header

/ Page Content
%a{name: "services"}
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          = t("welcome_page.expenses.heading")
        %p.lead
          = t("welcome_page.expenses.description")
      .col-lg-5.col-lg-offset-2.col-sm-6
        %img.img-responsive.img-shadow{alt: "", src: image_url("welcome/transactions.jpg")}/
  / /.container
/ /.content-section-a
.content-section-b
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          = t("welcome_page.accounts.heading")
        %p.lead
          = t("welcome_page.accounts.description")
      .col-lg-5.col-sm-pull-6.col-sm-6
        %img.img-responsive.img-shadow{alt: "", src: image_url("welcome/accounts.jpg")}/
  / /.container
/ /.content-section-b
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          = t("welcome_page.reports.heading")
        %p.lead
          = t("welcome_page.reports.description")
      .col-lg-5.col-lg-offset-2.col-sm-6
        %img.img-responsive.img-shadow{alt: "", src: asset_url("welcome/reports.jpg")}/
  / /.container
/ /.content-section-b
.content-section-b
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          = t("welcome_page.budget.heading")
        %p.lead
          = t("welcome_page.budget.description")
      .col-lg-5.col-sm-pull-6.col-sm-6
        %img.img-responsive.img-shadow{alt: "", src: image_url("welcome/budgeting.jpg")}/


%a{:name => "contact"}
.banner
  .container
    .row
      -# .col-lg-6
      -#   %h2 Connect to Start Bootstrap:
      -# .col-lg-6
      -#   %ul.list-inline.banner-social-buttons
      -#     %li
      -#       %a.btn.btn-default.btn-lg{:href => "https://twitter.com/SBootstrap"}
      -#         %i.fa.fa-twitter.fa-fw
      -#         %span.network-name Twitter
      -#     %li
      -#       %a.btn.btn-default.btn-lg{:href => "https://github.com/IronSummitMedia/startbootstrap"}
      -#         %i.fa.fa-github.fa-fw
      -#         %span.network-name Github
      -#     %li
      -#       %a.btn.btn-default.btn-lg{:href => "#"}
      -#         %i.fa.fa-linkedin.fa-fw
      -#         %span.network-name Linkedin

%footer
  .container
    .row
      .col-lg-12
        %ul.list-inline
          %li.footer-menu-divider ⋅
          %li= link_to t("parts.auth.sign_up"), new_user_registration_path
          %li.footer-menu-divider ⋅
          %li= link_to t("parts.auth.sign_in"), new_user_session_path
          %li.footer-menu-divider ⋅
          %li= link_to "Cookie Policy", cookiepolicy_path
          %li.footer-menu-divider ⋅
          %li= link_to t("welcome_page.nav.about"), root_path(anchor: "about")
          %li.footer-menu-divider ⋅
          %li= link_to t("welcome_page.nav.services"), root_path(anchor: "services")
          %li.footer-menu-divider ⋅
          %li= link_to t("welcome_page.nav.contact"), root_path(anchor: "contact")
        %p.copyright.text-muted.small= copyright
