= simple_form_for recurring_payment, html: { class: "form-horizontal", role: 'form' } do |f|
  = f.input :title, input_html: { class: 'medium-input' }
  = f.association :account,
    collection: AccountDecorator.decorate_collection(current_user.accounts.active.by_recently_used),
    include_blank: false, input_html: { data: { select_2: true } }
  = f.association :category, collection: current_user.categories.active.by_recently_used, input_html: { data: { select_2: true } }
  = f.input :amount, input_html: { class: 'medium-input' }
  = f.input :frequency, collection: recurring_payment_frequencies_collection, as: :select, input_html: { class: 'medium-input'}
  = f.input :frequency_amount, input_html: { class: 'medium-input' }
  = f.input :next_payment_on, as: :date, start_year: Date.today.year, order: [:day, :month, :year], input_html: { class: 'date-select' }
  .clearfix
  .col-lg-offset-2.col-lg-10
    = f.button :submit, class: "btn btn-primary", id: :recurring_payment_submit
    = link_to t("common.back"), recurring_payments_path, class: "btn"
