- title t(:sign_in)

.signin-form-wrapper
  %h2= t(:sign_in)
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-inputs
      = f.input :email, required: false, autofocus: true, label: false, placeholder: t(:email)
      = f.input :password, required: false, label: false, placeholder: t(:password)
      = f.button :submit, t(:do_sign_in), class: "pull-left btn btn-primary"
      = f.input :remember_me, as: :boolean, wrapper: :inline_checkbox if devise_mapping.rememberable?
