%h2.auth-form-title= t(:sign_in)
%p.auth-form-subtitle= t(:sign_in_subtitle, default: "Enter your credentials to continue")

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "auth-form" }) do |f|
  .mb-3
    = f.input_field :email, autofocus: true, placeholder: t(:email), class: "form-control"
  .mb-3
    = f.input_field :password, placeholder: t(:password), class: "form-control"
  .auth-remember-row
    - if devise_mapping.rememberable?
      .form-check
        = f.input :remember_me, as: :boolean, label: false, inline_label: true, input_html: { class: "form-check-input" }
    - if devise_mapping.recoverable?
      = link_to t(:forgot_your_password), new_password_path(resource_name), class: "auth-forgot-password"
  = f.button :submit, t(:do_sign_in), class: "auth-submit"

.auth-links
  - if devise_mapping.registerable?
    %span
      = t(:no_account, default: "Don't have an account?")
      = link_to t(:sign_up), new_registration_path(resource_name)
  - if devise_mapping.confirmable?
    = link_to t(:didnt_receive_confirmation_instructions), new_confirmation_path(resource_name)
