- if @active_recurring_cash_flows.present? || @ended_recurring_cash_flows.present?
  = render 'shared/sub_navbar_widget',
    title_content: t('parts.recurring_cash_flows.recurring_cash_flows_list'),
    add_link_title: t('parts.recurring_cash_flows.new_recurring_cash_flow'),
    add_link_url: new_recurring_cash_flow_path

  .row#active_recurring_cash_flows
    - if @active_recurring_cash_flows.present?
      = render 'recurring_cash_flows', recurring_cash_flows: @active_recurring_cash_flows
    - else
      .col-12
        %p.empty-data= t('parts.recurring_cash_flows.you_have_no_active_recurring_cash_flows')

  - if @ended_recurring_cash_flows.present?
    .row#ended_recurring_cash_flows
      .col-12
        %h3= t('parts.recurring_cash_flows.ended_recurring_cash_flows_short')
      = render 'recurring_cash_flows', recurring_cash_flows: @ended_recurring_cash_flows
- else
  .recurring-cash-flows-empty-state
    .empty-state-container
      .empty-state-icon
        = fa_icon "refresh", class: "fa-4x"
      
      %h2.empty-state-title= t('parts.recurring_cash_flows.get_started_title')
      %p.empty-state-description= t('parts.recurring_cash_flows.get_started_description')
      
      .empty-state-features
        .feature-item
          .feature-icon
            = fa_icon "calendar"
          .feature-content
            %h4= t('parts.recurring_cash_flows.feature_scheduled_title')
            %p= t('parts.recurring_cash_flows.feature_scheduled_description')
        
        .feature-item
          .feature-icon
            = fa_icon "arrows-h"
          .feature-content
            %h4= t('parts.recurring_cash_flows.feature_automatic_title')
            %p= t('parts.recurring_cash_flows.feature_automatic_description')
        
        .feature-item
          .feature-icon
            = fa_icon "cog"
          .feature-content
            %h4= t('parts.recurring_cash_flows.feature_management_title')
            %p= t('parts.recurring_cash_flows.feature_management_description')
      
      .empty-state-action
        = link_to new_recurring_cash_flow_path, class: "btn btn-success btn-lg" do
          = fa_icon "plus"
          = t('parts.recurring_cash_flows.new_recurring_cash_flow')
