= simple_form_for category, html: { class: "form-horizontal" } do |f|
  = f.input :name
  = f.association :category_type, collection: ->{ CategoryType.all.map { |type| [CategoryType.human_attribute_name(type.name), type.id] } }
  .col-sm-offset-2.col-sm-10
    = f.input :inactive, label: false, inline_label: true
  .col-sm-offset-2.col-sm-10
    = f.button :submit, class: "btn btn-primary", id: :category_submit
    = link_to t("common.back"), categories_path, class: "btn"
