<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= t( 'activerecord.errors.template.header', :count => @category.errors.count ) %>:</h2>
      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category_type_id %><br />
    <select id="category_type_id" name="category[category_type_id]">
    <% CategoryType.all.each do |type| %>
        <option value="<%=type.id%>" <%=' selected="selected"' if @category.category_type_id == type.id  %> >
          <%=I18n.translate( 'parts.categories.' + type.name )%></option>
    <% end %>
    </select>

  </div>
  <div class="actions">
    <%= f.submit nil, :class => "button orange tall" %>
    <%= link_to t( 'common.back' ), categories_path %>
  </div>
<% end %>
