%h1= t( 'parts.categories.categories_list' )
.spacer

= link_to t( 'parts.categories.new_category' ), new_category_path, class: 'btn'
.spacer

- if @categories.present?
  %table.table
    %thead
      %tr
        %th.span3= t('activerecord.attributes.category.category_type_id')
        %th= t('activerecord.attributes.category.name')
        %th.span2
    %tbody
      - @categories.each do |category|
        %tr{class: category_type(category)}
          %td.span3= I18n.translate('parts.categories.' + category.category_type.name)
          %td= category.name
          %td.span2
            = link_to edit_category_path(category), title: t('common.edit'), class: "btn btn-mini" do
              %i.icon-pencil
            = link_to category, data: { confirm: t('common.are_you_sure') }, method: :delete, title: t('common.destroy'), class: "btn btn-danger btn-mini" do
              %i.icon-trash.icon-white
- else
  %p.empty-data
    = t( 'parts.categories.you_have_no_categories' )
