%p#notice= notice
%p
  %b
    = t( 'parts.categories.name' )
    \:
  = @category.name
%p
  %b
    = t( 'parts.categories.type' )
    \:
  = @category.category_type_id
= link_to t('common.edit'), edit_category_path(@category)
|
= link_to t('common.show'), categories_path
