<p id="notice"><%= notice %></p>

<p>
  <b><%= t( 'parts.categories.name' ) %>:</b>
  <%= @category.name %>
</p>

<p>
  <b><%= t( 'parts.categories.type' ) %>:</b>
  <%= @category.type_id %>
</p>


<%= link_to t( 'common.edit' ), edit_category_path(@category) %> |
<%= link_to t( 'common.show' ), categories_path %>
