= simple_form_for transaction, html: { class: "form-horizontal" } do |f|
  = f.association :account, collection: current_user.accounts
  = f.association :category, collection: current_user.categories.active
  = f.input :summ
  = f.input :comment, input_html: { rows: 3, class: "input-xxlarge" }
  .form-actions
    = f.button :submit, class: "btn btn-primary", id: :transaction_submit
    = link_to t("common.back"), transactions_path, class: "btn"
