= simple_form_for transaction, html: { class: "form-horizontal", role: 'form' } do |f|
  = f.association :account, collection: current_user.accounts, input_html: { data: { select_2: true } }
  = f.association :category, collection: current_user.categories.active, input_html: { data: { select_2: true } }
  = f.input :summ
  = f.input :comment, input_html: { rows: 3, class: "input-xxlarge" }
  .col-lg-offset-2.col-lg-10
    = f.button :submit, class: "btn btn-primary", id: :transaction_submit
    = link_to t("common.back"), transactions_path, class: "btn"
