= simple_form_for transaction do |f|
  = f.association :account,
    collection: AccountDecorator.decorate_collection(current_user.accounts.active.by_recently_used),
    include_blank: false,
    input_html: { data: { select_2: true }, class: "form-select" },
    wrapper: :stacked_form
  = f.association :category,
    collection: current_user.categories.available.by_recently_used,
    input_html: { data: { select_2: true }, class: "form-select" },
    wrapper: :stacked_form
  = f.input :summ, wrapper: :stacked_form,
    input_html: { class: "form-control transaction-form-amount-input", placeholder: "0.00" },
    label_html: { class: "transaction-form-label" }
  = f.input :comment, wrapper: :stacked_form, input_html: { rows: 3 }
  = f.button :submit, class: "btn btn-success transaction-form-submit", id: :transaction_submit
