= render 'shared/sub_navbar_widget',
  title_content: t('parts.transactions.transactions_list'),
  add_link_title: t('parts.transactions.new_transaction'),
  add_link_url: new_transaction_path

.row
  - if @transactions.present?
    .col-xs-12.col-lg-12
      .table-responsive
        %table.table
          %thead
            %tr
              %th.span2= t('common.date')
              %th= "#{t('common.category')} / #{t('parts.transactions.comment')}"
              %th.span2.number= t('parts.transactions.sum')
              %th.span2= t('common.account')
              %th.span2
          %tbody
            - @transactions.each do |transaction|
              %tr{ id: dom_id(transaction) }
                %td.span2= transaction.decorate.created_on
                %td
                  %span.category= link_to transaction.decorate.category_name, transactions_path(category: transaction.category_id)
                  %span.comment= best_in_place transaction, :comment, as: :textarea, place_holder: '&nbsp;&nbsp;'.html_safe
                %td.span2.number
                  = transaction.decorate.amount
                  = transaction.decorate.type_icon
                %td.span2= link_to transaction.account_name, transactions_path(account: transaction.account_id)
                %td.span2.actions
                  = link_to_new_recurring_payment(transaction)
                  = link_to transaction, data: { confirm: t('common.are_you_sure') }, method: :delete, title: t('common.rollback'), class: "btn btn-danger btn-mini btn-xs" do
                    = fa_icon "share"
  - else
    .col-xs-12.col-lg-12
      %p.empty-data= t( 'parts.transactions.you_have_no_transactions' )

= paginate @transactions
