%h1= t('parts.transactions.transactions_list')

.spacer
= link_to t( 'parts.transactions.new_transaction' ), new_transaction_path, class: 'btn'

.spacer
- if @transactions.present?
  %table.table
    %thead
      %tr
        %th.span2= t('common.date')
        %th
          = t('common.category')
          \/#{t('parts.transactions.comment')}
        %th.span2= t('parts.transactions.sum')
        %th.span2= t('common.account')
        %th.span2
    %tbody
      - @transactions.each do |transaction|
        %tr
          %td.span2
            = I18n.l(transaction.created_at.to_date, format: :long)
          %td
            .category= transaction.category ? transaction.category.name : t('parts.transactions.no_category')
            .comment= transaction.comment
          %td.span2.number= get_number_to_currency(transaction.category.category_type_id == 1 ? transaction.summ : -transaction.summ)
          %td.span2= transaction.account.try(:name)
          %td.span2.actions
            = link_to edit_transaction_path(transaction), title: t('common.edit') do
              = image_tag 'icons/edit.png', alt: t('common.edit')
            = link_to transaction, data: { confirm: t('common.are_you_sure') }, method: :delete, title: t('common.destroy') do
              = image_tag 'icons/delete.png', alt: t('common.destroy')
- else
  %p.empty-data= t( 'parts.transactions.you_have_no_transactions' )
