<h1><%= t( 'parts.transactions.transactions_list' ) %></h1>

<div id=child_navigation>
    <%= link_to t( 'parts.transactions.new_transaction' ), new_transaction_path, :class => 'button orange' %>
</div>

<% unless @transactions.empty? %>
    <table class="list-table">
        <thead>
        <tr>
            <th class=medium><%= t('common.date') %></th>
            <th><%= t('common.category') %>/<%= t('parts.transactions.comment') %></th>
            <th class=numbers><%= t('parts.transactions.sum') %></th>
            <th class=small><%= t('common.account') %></th>
            <th class=small></th>
        </tr>
        </thead>
        <tbody>
        <% @transactions.each do |transaction| %>
            <tr>
                <td class=medium>
                    <%= I18n.l(transaction.created_at.to_date, :format => :long) %>
                </td>
                <td>
                    <div class=category><%= transaction.category ? transaction.category.name : t('parts.transactions.no_category') %></div>
                    <div class=comment><%= transaction.comment %></div>
                </td>
                <td class=numbers><%= get_number_to_currency(transaction.category.category_type_id == 1 ? transaction.summ : -transaction.summ) %></td>
                <td class=medium><%= transaction.account.name unless transaction.account_id.nil? %></td>
                <td class=small>
                    <%= link_to edit_transaction_path(transaction), :title => t('common.edit') do %>
                        <%= image_tag 'icons/edit.png', :alt => t('common.edit') %><%end%>
                    <%= link_to transaction, :confirm => t('common.are_you_sure'), :method => :delete, :title => t('common.destroy') do %>
                        <%= image_tag 'icons/delete.png', :alt => t('common.destroy') %><%end%>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% else %>
    <p class="empty-data"><%= t( 'parts.transactions.you_have_no_transactions' ) %></p>
<% end %>

