%h1= t('parts.transactions.transactions_list')

.spacer
= link_to t('parts.transactions.new_transaction'), new_transaction_path, class: 'btn btn-success'

.spacer
- if @transactions.present?
  %table.table
    %thead
      %tr
        %th.span2= t('common.date')
        %th
          = "#{t('common.category')} / #{t('parts.transactions.comment')}"
        %th.span2= t('parts.transactions.sum')
        %th.span2= t('common.account')
        %th.span2
    %tbody
      - @transactions.each do |transaction|
        %tr
          %td.span2
            = I18n.l(transaction.created_at.to_date, format: :long)
          %td
            .category= transaction.category ? transaction.category_name : t('parts.transactions.no_category')
            .comment= transaction.comment
          %td.span2.number= get_number_to_currency(transaction.income? ? transaction.summ : -transaction.summ)
          %td.span2= transaction.account_name
          %td.span2.actions
            = link_to transaction, data: { confirm: t('common.are_you_sure') }, method: :delete, title: t('common.rollback'), class: "btn btn-danger btn-mini" do
              %i.icon-share-alt.icon-white
- else
  %p.empty-data= t( 'parts.transactions.you_have_no_transactions' )

= paginate @transactions
