<p id="notice"><%= notice %></p>

<p>
  <b><%= t( 'common.category' ) %>:</b>
  <%= @transaction.category_id %>
</p>

<p>
  <b><%= t( 'parts.transactions.sum' ) %>:</b>
  <%= @transaction.summ %>
</p>

<p>
  <b><%= t( 'parts.transactions.comment' ) %>:</b>
  <%= @transaction.comment %>
</p>


<%= link_to t( 'common.edit' ), edit_transaction_path(@transaction) %> |

