- if user_signed_in?
  .panel.panel-default
    .panel-body
      - current_user.accounts.each do |account|
        .col-sm-3
          = succeed ":" do
            = account.name
          .pull-right
            %strong= account.decorate.amount
        .col-sm-1
      .clearfix

    .panel-footer
      .col-sm-3
        = succeed ":" do
          = t("common.total_funds")
        .pull-right
          %strong= get_number_to_currency TotalAmount.of(current_user)
      .clearfix
