- if user_signed_in?
  #page_header
    - current_user.accounts.each do |account|
      %div
        = succeed ":" do
          = account.name
        = get_number_to_currency account.funds
    %div
      = succeed ":" do
        = t("common.total_funds")
      = get_number_to_currency get_total_funds
