- if user_signed_in?
  #page_header
    - current_user.accounts.each do |account|
      %div
        %span.account-total
          = succeed ":" do
            = account.name
        %strong= get_number_to_currency account.funds
    %hr.account-total
      %span.account-total
        = succeed ":" do
          = t("common.total_funds")
      %strong= get_number_to_currency TotalAmount.of(current_user)
