!!!
%html{ lang: I18n.locale }
  %head
    = display_meta_tags site: "HomeBugh", reverse: true
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
  %body
    = render 'shared/top_navbar'

    .container
      - flash.each do |name, message|
        #notify-container
          = content_tag :div, message, class: flash_class(name)

      - if user_signed_in?
        .well
          = render 'layouts/total_funds'

      .row
        = yield

      %hr/
      %footer
        = render 'shared/footer'

