!!!
%html{ lang: I18n.locale }
  %head
    = display_meta_tags site: "HomeBugh", reverse: true
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
    = javascript_include_tag "//www.gstatic.com/charts/loader.js"
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/chart.js"
    = stylesheet_link_tag :application
    = stylesheet_link_tag 'font-awesome'
    = csrf_meta_tag
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    = javascript_include_tag :application
  %body
    - if user_signed_in?
      = render 'shared/dashboard_layout'
    - else
      = render 'shared/top_navbar'
      .container{style: "padding-top: 80px;"}
        = render 'shared/flash_messages'
        = yield
        .row
          .col-12
            %hr/
            %footer
              = render 'shared/footer'
    = render 'shared/analytics'
  = render 'shared/cookie_consent_modal'
