<!DOCTYPE html>
<html>
<head>
  <title>HomeBugh</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    <% flash.each do |name, message| %>
        <div id=notify-container>
            <%= content_tag :div, message, :class => name %>
        </div>
    <% end %>

    <div id=container>
        <div id=header>
            <div id=header_content>
                <a href="/" id=site_logo>
                    <span>HomeBugh</span>
                </a>
                <ul id=account_box>
                    <%= render 'layouts/menu' %>
                </ul>
            </div>
        </div>
        <div id=main>
            <%= render 'layouts/total_funds' %>
            <div id=page_content>
                <%= yield %>
            </div>
        </div>
        <div id=footer>
            <div id=footer_content>
                <ul id=nav_bottom>
                    <li>
                        <a href="#">About</a>
                        <p>Comming soon</p>
                    </li>
                    <li>
                        <a href="#">Feedback</a>
                        <p>Comming soon</p>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                        <p>Comming soon</p>
                    </li>
                </ul>
                <p class=copyright>
                    copyright @2011-2012
                </p>
                <ul class=site_links>
                    <%= render 'layouts/footer_menu' %>
                </ul>
            </div>
        </div>

    </div>
</body>
</html>
