!!!
%html{ lang: I18n.locale }
  %head
    = display_meta_tags site: "HomeBugh", reverse: true
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
    = javascript_include_tag '//www.google.com/jsapi', 'chartkick'
    = stylesheet_link_tag :application
    = csrf_meta_tag
  %body
    = render 'shared/top_navbar'

    .container
      .row
        .col-lg-12
          - flash.each do |name, message|
            #notify-container
              = content_tag :div, message, class: flash_class(name)

      .row
        .col-lg-12
          = render 'layouts/total_funds'

      - if current_user.present?
        .row
          .col-lg-12
            = render 'shared/todo_list'

      .row
        = yield

      %hr/
      %footer
        = render 'shared/footer'

    = javascript_include_tag :application
    = render 'shared/analytics'
