!!!
%html{ lang: I18n.locale }
  %head
    = display_meta_tags site: "HomeBugh", reverse: true
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
    = javascript_include_tag "//www.gstatic.com/charts/loader.js"
    = stylesheet_link_tag :application
    = csrf_meta_tag
    = javascript_include_tag :application
  %body
    = render 'shared/top_navbar'

    .container
      = render 'shared/flash_messages'

      .row
        .col-lg-12
          = render 'layouts/total_funds'

      - if current_user.present?
        .row
          .col-lg-12
            = render 'shared/todo_list'

      = yield

      .row
        .col-xs-12.col-lg-12
          %hr/
          %footer
            = render 'shared/footer'
    = render 'shared/analytics'
