!!!
%html{ lang: I18n.locale }
  %head
    %title Your finance manager
    %meta{name: "keywords", content: welcome_meta_keywords}
    %meta{name: "description", content: welcome_meta_description}
    %meta{name: "og:title", content: "HomeBugh - Your finance manager"}
    %meta{name: "og:description", content: "Online finance manager for personal use. Supports budgeting and montly reports"}
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
    = stylesheet_link_tag :welcome
    = csrf_meta_tag
  %body
    %nav.navbar.navbar-default.navbar-fixed-top.topnav{:role => "navigation"}
      .container.topnav
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.topnav{:href => root_path} HomeBugh
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Cookie Policy", cookiepolicy_path
            %li= link_to t("welcome_page.nav.about"), root_path(anchor: "about")
            %li= link_to t("welcome_page.nav.services"), root_path(anchor: "services")
            %li= link_to t("welcome_page.nav.contact"), root_path(anchor: "contact")
            %li= link_to image_tag("flags/#{inverse_locale}.png"), url_for(locale: inverse_locale)
        / /.navbar-collapse
      / /.container
    / Header

    = yield

    = javascript_include_tag :welcome
    = render 'shared/analytics'
    = render 'shared/cookie_consent_modal'
