- if @accounts.present?
  = render 'shared/sub_navbar_widget',
    title_content: t('parts.accounts.accounts_list'),
    add_link_title: t('parts.accounts.new_account'),
    add_link_url: new_account_path

  .row
    .col-xs-12.col-lg-12
      .table-responsive
        %table.table
          %thead
            %tr
              %th= t('activerecord.attributes.account.name')
              %th.span2.number= t('activerecord.attributes.account.funds')
              %th.span2.actions
          %tbody
            - @accounts.each do |account|
              - if account.active?
                = render "account", account: account
              - else
                = render "inactive_account", account: account

  = paginate @accounts
- else
  .accounts-empty-state
    .empty-state-container
      .empty-state-icon
        = fa_icon "credit-card", class: "fa-4x"
      
      %h2.empty-state-title= t('parts.accounts.get_started_title')
      %p.empty-state-description= t('parts.accounts.get_started_description')
      
      .empty-state-features
        .feature-item
          .feature-icon
            = fa_icon "university"
          .feature-content
            %h4= t('parts.accounts.feature_track_title')
            %p= t('parts.accounts.feature_track_description')
        
        .feature-item
          .feature-icon
            = fa_icon "exchange"
          .feature-content
            %h4= t('parts.accounts.feature_transfer_title')
            %p= t('parts.accounts.feature_transfer_description')
        
        .feature-item
          .feature-icon
            = fa_icon "line-chart"
          .feature-content
            %h4= t('parts.accounts.feature_insights_title')
            %p= t('parts.accounts.feature_insights_description')
      
      .empty-state-action
        = link_to new_account_path, class: "btn btn-success btn-lg" do
          = fa_icon "plus"
          = t('parts.accounts.add_account')
