= render 'shared/sub_navbar_widget',
  title_content: t('parts.accounts.accounts_list'),
  add_link_title: t('parts.accounts.new_account'),
  add_link_url: new_account_path

.row
  - if @accounts.present?
    .col-xs-12.col-lg-12
      .table-responsive
        %table.table
          %thead
            %tr
              %th= t('activerecord.attributes.account.name')
              %th.span2.number= t('activerecord.attributes.account.funds')
              %th.span2.actions
          %tbody
            - @accounts.each do |account|
              - if account.active?
                = render "account", account: account
              - else
                = render "inactive_account", account: account
  - else
    .col-xs-12.col-lg-12
      %p.empty-data
        = t('parts.accounts.you_have_no_accounts')

= paginate @accounts
