%h2= title t('parts.accounts.accounts_list')
.spacer

= link_to t('parts.accounts.new_account'), new_account_path, class: 'btn btn-success'
.spacer

- if @accounts.present?
  .table-responsive
    %table.table
      %thead
        %tr
          %th= t('activerecord.attributes.account.name')
          %th.span2.number= t('activerecord.attributes.account.funds')
          %th.span2.actions
      %tbody
        - @accounts.each do |account|
          %tr
            %td= account.decorate.name
            %td.span2.number= account.decorate.amount
            %td.span2.actions
              = link_to edit_account_path(account), title: t('common.edit'), class: "btn btn-mini btn-default btn-xs" do
                %i.glyphicon.glyphicon-pencil
              - if account.funds.to_f.zero?
                = link_to account, data: { confirm: t('common.are_you_sure') }, method: :delete, title: t('common.archive'), class: "btn btn-danger btn-mini btn-xs" do
                  %i.glyphicon.glyphicon-trash
              - else
                = link_to new_cash_flow_path,
                  title: "#{t('parts.accounts.account_not_empty')} #{t('parts.cash_flows.new_cash_flows')}",
                  class: "btn btn-mini btn-default btn-xs" do
                  %i.glyphicon.glyphicon-retweet
- else
  %p.empty-data
    = t('parts.accounts.you_have_no_accounts')

= paginate @accounts
